body {
  background-color: #ffffff;
  color: #000000;
  font-size: 16px;
  font-family: helvetica;
}

nav {
  background-color: rgba(0,0,0,.5);
  float: left;
  position: fixed;
  width: 100%;
}

.logo {
  margin: 20px;
  width: 100px;
}

.large-pic {
  width: 100%;
}

.medium-pic {
  width: 70%;
}

.left, .right {
  float: left;
  width: 50%;
}

.right {
  float: right;
}

ul {
  list-style-type: none;
  float: right;
}

li {
  float: right;
  padding: 30px;
}

article {
  padding-top: 100px;
}

.container {
  margin: 0 auto;
  width: 50%;
}

h1 {
  font-size: 2.5em;
  padding-top: 30px;
  padding-bottom: 30px;
}

h3 {
  font-size: 1.5em;
  padding-bottom: 15px;
}

figcaption {
  font-style: italic;
  padding-top: 15px;
}

p {
  line-height: 1.5;
  padding-bottom: 15px;
}

.author {
  font-style: italic;
  padding-top: 15px;
  padding-bottom: 15px;
}

a:link {
  text-decoration: none;
  color:#ffffff;
}

a:visited {
  color:#4a5f2b;
}

a:hover {
  color:#864985
}

a:active {
  color:#ef5418
}
